<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>huiguniang-元件 11.png</key>
      <dict>
        <key>frame</key>
        <string>{{1009,74},{12,7}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{12,7}}</string>
        <key>sourceSize</key>
        <string>{12,7}</string>
      </dict>
      <key>huiguniang-元件 10.png</key>
      <dict>
        <key>frame</key>
        <string>{{1012,0},{10,12}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{10,12}}</string>
        <key>sourceSize</key>
        <string>{10,12}</string>
      </dict>
      <key>huiguniang-元件 3.png</key>
      <dict>
        <key>frame</key>
        <string>{{694,434},{36,14}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{36,14}}</string>
        <key>sourceSize</key>
        <string>{36,14}</string>
      </dict>
      <key>huiguniang-元件 1.png</key>
      <dict>
        <key>frame</key>
        <string>{{981,571},{40,13}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{40,13}}</string>
        <key>sourceSize</key>
        <string>{40,13}</string>
      </dict>
      <key>huiguniang-元件 2.png</key>
      <dict>
        <key>frame</key>
        <string>{{345,551},{41,38}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{41,38}}</string>
        <key>sourceSize</key>
        <string>{41,38}</string>
      </dict>
      <key>huiguniang-元件 6.png</key>
      <dict>
        <key>frame</key>
        <string>{{682,313},{57,34}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{57,34}}</string>
        <key>sourceSize</key>
        <string>{57,34}</string>
      </dict>
      <key>huiguniang-元件 7.png</key>
      <dict>
        <key>frame</key>
        <string>{{682,199},{37,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{37,64}}</string>
        <key>sourceSize</key>
        <string>{37,64}</string>
      </dict>
      <key>huiguniang-元件 8.png</key>
      <dict>
        <key>frame</key>
        <string>{{749,182},{174,194}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{174,194}}</string>
        <key>sourceSize</key>
        <string>{174,194}</string>
      </dict>
      <key>huiguniang-元件 4.png</key>
      <dict>
        <key>frame</key>
        <string>{{733,378},{166,166}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{166,166}}</string>
        <key>sourceSize</key>
        <string>{166,166}</string>
      </dict>
      <key>huiguniang-元件 5.png</key>
      <dict>
        <key>frame</key>
        <string>{{940,134},{60,56}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{60,56}}</string>
        <key>sourceSize</key>
        <string>{60,56}</string>
      </dict>
      <key>huiguniang-元件 9.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,408},{248,59}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{248,59}}</string>
        <key>sourceSize</key>
        <string>{248,59}</string>
      </dict>
      <key>laoshunan-tou.png</key>
      <dict>
        <key>frame</key>
        <string>{{534,408},{121,83}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{121,83}}</string>
        <key>sourceSize</key>
        <string>{121,83}</string>
      </dict>
      <key>laoshunan-元件 3.png</key>
      <dict>
        <key>frame</key>
        <string>{{117,559},{53,23}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{53,23}}</string>
        <key>sourceSize</key>
        <string>{53,23}</string>
      </dict>
      <key>laoshunan-元件 1.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,469},{123,78}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{123,78}}</string>
        <key>sourceSize</key>
        <string>{123,78}</string>
      </dict>
      <key>laoshunan-元件 2.png</key>
      <dict>
        <key>frame</key>
        <string>{{682,392},{43,40}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{43,40}}</string>
        <key>sourceSize</key>
        <string>{43,40}</string>
      </dict>
      <key>laoshunan-元件 4.png</key>
      <dict>
        <key>frame</key>
        <string>{{682,265},{47,46}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{47,46}}</string>
        <key>sourceSize</key>
        <string>{47,46}</string>
      </dict>
      <key>laoshunan-元件 5.png</key>
      <dict>
        <key>frame</key>
        <string>{{925,279},{85,31}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{85,31}}</string>
        <key>sourceSize</key>
        <string>{85,31}</string>
      </dict>
      <key>laoshubai-元件 2.png</key>
      <dict>
        <key>frame</key>
        <string>{{657,484},{48,34}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{48,34}}</string>
        <key>sourceSize</key>
        <string>{48,34}</string>
      </dict>
      <key>laoshubai-元件 1.png</key>
      <dict>
        <key>frame</key>
        <string>{{404,408},{128,131}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{128,131}}</string>
        <key>sourceSize</key>
        <string>{128,131}</string>
      </dict>
      <key>laoshubai-元件 3.png</key>
      <dict>
        <key>frame</key>
        <string>{{172,559},{41,33}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{41,33}}</string>
        <key>sourceSize</key>
        <string>{41,33}</string>
      </dict>
      <key>laoshubai-元件 4.png</key>
      <dict>
        <key>frame</key>
        <string>{{682,349},{49,41}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{49,41}}</string>
        <key>sourceSize</key>
        <string>{49,41}</string>
      </dict>
      <key>laoshubai-元件 5.png</key>
      <dict>
        <key>frame</key>
        <string>{{925,312},{85,31}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{85,31}}</string>
        <key>sourceSize</key>
        <string>{85,31}</string>
      </dict>
      <key>laoshunv-元件 3.png</key>
      <dict>
        <key>frame</key>
        <string>{{649,561},{43,28}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{43,28}}</string>
        <key>sourceSize</key>
        <string>{43,28}</string>
      </dict>
      <key>laoshunv-元件 4.png</key>
      <dict>
        <key>frame</key>
        <string>{{534,493},{113,77}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{113,77}}</string>
        <key>sourceSize</key>
        <string>{113,77}</string>
      </dict>
      <key>laoshunv-元件 1.png</key>
      <dict>
        <key>frame</key>
        <string>{{404,541},{105,58}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{105,58}}</string>
        <key>sourceSize</key>
        <string>{105,58}</string>
      </dict>
      <key>laoshunv-元件 2.png</key>
      <dict>
        <key>frame</key>
        <string>{{889,571},{43,28}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{43,28}}</string>
        <key>sourceSize</key>
        <string>{43,28}</string>
      </dict>
      <key>laoshunv-元件 5.png</key>
      <dict>
        <key>frame</key>
        <string>{{649,520},{41,39}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{41,39}}</string>
        <key>sourceSize</key>
        <string>{41,39}</string>
      </dict>
      <key>laoshunv-元件 6.png</key>
      <dict>
        <key>frame</key>
        <string>{{925,345},{85,31}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{85,31}}</string>
        <key>sourceSize</key>
        <string>{85,31}</string>
      </dict>
      <key>wu-元件 1.png</key>
      <dict>
        <key>frame</key>
        <string>{{901,502},{101,67}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{101,67}}</string>
        <key>sourceSize</key>
        <string>{101,67}</string>
      </dict>
      <key>wu-元件 4.png</key>
      <dict>
        <key>frame</key>
        <string>{{925,192},{84,85}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{84,85}}</string>
        <key>sourceSize</key>
        <string>{84,85}</string>
      </dict>
      <key>wu-元件 6.png</key>
      <dict>
        <key>frame</key>
        <string>{{125,469},{112,88}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{112,88}}</string>
        <key>sourceSize</key>
        <string>{112,88}</string>
      </dict>
      <key>wangzi-yanmei.png</key>
      <dict>
        <key>frame</key>
        <string>{{934,571},{45,24}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{45,24}}</string>
        <key>sourceSize</key>
        <string>{45,24}</string>
      </dict>
      <key>wangzi-元件 9.png</key>
      <dict>
        <key>frame</key>
        <string>{{1002,134},{14,13}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{14,13}}</string>
        <key>sourceSize</key>
        <string>{14,13}</string>
      </dict>
      <key>wangzi-元件 7.png</key>
      <dict>
        <key>frame</key>
        <string>{{692,520},{38,37}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{38,37}}</string>
        <key>sourceSize</key>
        <string>{38,37}</string>
      </dict>
      <key>wangzi-元件 4.png</key>
      <dict>
        <key>frame</key>
        <string>{{749,0},{189,180}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{189,180}}</string>
        <key>sourceSize</key>
        <string>{189,180}</string>
      </dict>
      <key>wangzi-元件 2.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,549},{115,45}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{115,45}}</string>
        <key>sourceSize</key>
        <string>{115,45}</string>
      </dict>
      <key>wangzi-元件 1.png</key>
      <dict>
        <key>frame</key>
        <string>{{250,408},{152,141}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{152,141}}</string>
        <key>sourceSize</key>
        <string>{152,141}</string>
      </dict>
      <key>wangzi-元件 3.png</key>
      <dict>
        <key>frame</key>
        <string>{{239,551},{104,42}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{104,42}}</string>
        <key>sourceSize</key>
        <string>{104,42}</string>
      </dict>
      <key>wangzi-元件 5.png</key>
      <dict>
        <key>frame</key>
        <string>{{940,0},{70,72}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{70,72}}</string>
        <key>sourceSize</key>
        <string>{70,72}</string>
      </dict>
      <key>wangzi-元件 6.png</key>
      <dict>
        <key>frame</key>
        <string>{{940,74},{67,58}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{67,58}}</string>
        <key>sourceSize</key>
        <string>{67,58}</string>
      </dict>
      <key>wangzi-元件 8.png</key>
      <dict>
        <key>frame</key>
        <string>{{732,546},{155,39}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{155,39}}</string>
        <key>sourceSize</key>
        <string>{155,39}</string>
      </dict>
      <key>wu-xing_4.png</key>
      <dict>
        <key>frame</key>
        <string>{{901,378},{120,122}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{120,122}}</string>
        <key>sourceSize</key>
        <string>{120,122}</string>
      </dict>
      <key>wu-xing_1.png</key>
      <dict>
        <key>frame</key>
        <string>{{657,434},{35,48}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{35,48}}</string>
        <key>sourceSize</key>
        <string>{35,48}</string>
      </dict>
      <key>wu-xing_3.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{747,197}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{747,197}}</string>
        <key>sourceSize</key>
        <string>{747,197}</string>
      </dict>
      <key>wu-xing_2.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,199},{680,207}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{680,207}}</string>
        <key>sourceSize</key>
        <string>{680,207}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>c43.png</string>
      <key>textureFileName</key>
      <string>c43.png</string>
      <key>size</key>
      <string>{1024,1024}</string>
    </dict>
  </dict>
</plist>