<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>E_shenyin.png</key>
            <dict>
                <key>frame</key>
                <string>{{427,408},{68,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,68}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>G_cha.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,350},{56,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,56}}</string>
                <key>sourceSize</key>
                <string>{56,56}</string>
            </dict>
            <key>G_dui.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,274},{74,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,56}}</string>
                <key>sourceSize</key>
                <string>{74,56}</string>
            </dict>
            <key>G_fanhui.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,410},{74,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,68}}</string>
                <key>sourceSize</key>
                <string>{74,68}</string>
            </dict>
            <key>G_guan.png</key>
            <dict>
                <key>frame</key>
                <string>{{219,314},{142,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{142,67}}</string>
                <key>sourceSize</key>
                <string>{142,67}</string>
            </dict>
            <key>G_kai.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,314},{142,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{142,67}}</string>
                <key>sourceSize</key>
                <string>{142,67}</string>
            </dict>
            <key>G_tianzige.png</key>
            <dict>
                <key>frame</key>
                <string>{{409,138},{134,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,134}}</string>
                <key>sourceSize</key>
                <string>{134,134}</string>
            </dict>
            <key>G_yinfu.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,314},{146,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,150}}</string>
                <key>sourceSize</key>
                <string>{146,150}</string>
            </dict>
            <key>G_yinfu1.png</key>
            <dict>
                <key>frame</key>
                <string>{{409,2},{134,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,134}}</string>
                <key>sourceSize</key>
                <string>{134,134}</string>
            </dict>
            <key>G_yinfu2.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,274},{134,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,134}}</string>
                <key>sourceSize</key>
                <string>{134,134}</string>
            </dict>
            <key>G_yinfu3.png</key>
            <dict>
                <key>frame</key>
                <string>{{273,138},{134,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,134}}</string>
                <key>sourceSize</key>
                <string>{134,134}</string>
            </dict>
            <key>G_yinfu4.png</key>
            <dict>
                <key>frame</key>
                <string>{{273,2},{134,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,134}}</string>
                <key>sourceSize</key>
                <string>{134,134}</string>
            </dict>
            <key>G_yun.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{310,269}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{310,269}}</string>
                <key>sourceSize</key>
                <string>{310,269}</string>
            </dict>
            <key>G_zaiting.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,410},{74,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,67}}</string>
                <key>sourceSize</key>
                <string>{74,67}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>youxi.png</string>
            <key>size</key>
            <string>{1024,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fd2938d5caa345bada2aa42c744c8f86$</string>
            <key>textureFileName</key>
            <string>youxi.png</string>
        </dict>
    </dict>
</plist>
