<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>wu-baishu.png</key>
      <dict>
        <key>frame</key>
        <string>{{1836,0},{175,303}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{175,303}}</string>
        <key>sourceSize</key>
        <string>{175,303}</string>
      </dict>
      <key>wu-laoshu1.png</key>
      <dict>
        <key>frame</key>
        <string>{{1958,555},{87,92}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{87,92}}</string>
        <key>sourceSize</key>
        <string>{87,92}</string>
      </dict>
      <key>wu-machefu.png</key>
      <dict>
        <key>frame</key>
        <string>{{1808,555},{148,137}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{148,137}}</string>
        <key>sourceSize</key>
        <string>{148,137}</string>
      </dict>
      <key>wu-laoshu2.png</key>
      <dict>
        <key>frame</key>
        <string>{{495,663},{106,110}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{106,110}}</string>
        <key>sourceSize</key>
        <string>{106,110}</string>
      </dict>
      <key>huiguniang-xingxing.png</key>
      <dict>
        <key>frame</key>
        <string>{{2013,77},{19,26}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{19,26}}</string>
        <key>sourceSize</key>
        <string>{19,26}</string>
      </dict>
      <key>huiguniang-yun_4.png</key>
      <dict>
        <key>frame</key>
        <string>{{1958,649},{67,109}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{67,109}}</string>
        <key>sourceSize</key>
        <string>{67,109}</string>
      </dict>
      <key>huiguniang-yun_3.png</key>
      <dict>
        <key>frame</key>
        <string>{{183,671},{119,52}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{119,52}}</string>
        <key>sourceSize</key>
        <string>{119,52}</string>
      </dict>
      <key>huiguniang-yun_2.png</key>
      <dict>
        <key>frame</key>
        <string>{{786,678},{60,61}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{60,61}}</string>
        <key>sourceSize</key>
        <string>{60,61}</string>
      </dict>
      <key>huiguniang-yun_1.png</key>
      <dict>
        <key>frame</key>
        <string>{{377,663},{116,114}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{116,114}}</string>
        <key>sourceSize</key>
        <string>{116,114}</string>
      </dict>
      <key>wu-mache.png</key>
      <dict>
        <key>frame</key>
        <string>{{941,257},{617,236}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{617,236}}</string>
        <key>sourceSize</key>
        <string>{617,236}</string>
      </dict>
      <key>wu-ma.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,543},{197,111}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{197,111}}</string>
        <key>sourceSize</key>
        <string>{197,111}</string>
      </dict>
      <key>wu-mati_2.png</key>
      <dict>
        <key>frame</key>
        <string>{{689,678},{95,62}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{95,62}}</string>
        <key>sourceSize</key>
        <string>{95,62}</string>
      </dict>
      <key>wu-mache_yingzi.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,285},{668,55}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{668,55}}</string>
        <key>sourceSize</key>
        <string>{668,55}</string>
      </dict>
      <key>wu-nangua.png</key>
      <dict>
        <key>frame</key>
        <string>{{1413,643},{130,122}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{130,122}}</string>
        <key>sourceSize</key>
        <string>{130,122}</string>
      </dict>
      <key>xiannv-chibang2.png</key>
      <dict>
        <key>frame</key>
        <string>{{207,516},{168,153}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{168,153}}</string>
        <key>sourceSize</key>
        <string>{168,153}</string>
      </dict>
      <key>xiannv-chibang1.png</key>
      <dict>
        <key>frame</key>
        <string>{{1245,495},{166,170}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{166,170}}</string>
        <key>sourceSize</key>
        <string>{166,170}</string>
      </dict>
      <key>guangquan.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,342},{205,199}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{205,199}}</string>
        <key>sourceSize</key>
        <string>{205,199}</string>
      </dict>
      <key>xiannv-yanmei_2.png</key>
      <dict>
        <key>frame</key>
        <string>{{959,721},{56,12}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{56,12}}</string>
        <key>sourceSize</key>
        <string>{56,12}</string>
      </dict>
      <key>xiannv-zui_3.png</key>
      <dict>
        <key>frame</key>
        <string>{{2013,157},{19,8}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{19,8}}</string>
        <key>sourceSize</key>
        <string>{19,8}</string>
      </dict>
      <key>huiguniang-zui.png</key>
      <dict>
        <key>frame</key>
        <string>{{2013,120},{24,13}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{24,13}}</string>
        <key>sourceSize</key>
        <string>{24,13}</string>
      </dict>
      <key>huiguniang-zui_3.png</key>
      <dict>
        <key>frame</key>
        <string>{{2013,135},{17,13}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{17,13}}</string>
        <key>sourceSize</key>
        <string>{17,13}</string>
      </dict>
      <key>huiguniang-yanmei_1.png</key>
      <dict>
        <key>frame</key>
        <string>{{1545,693},{101,15}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{101,15}}</string>
        <key>sourceSize</key>
        <string>{101,15}</string>
      </dict>
      <key>huiguniang-yan.png</key>
      <dict>
        <key>frame</key>
        <string>{{848,679},{109,43}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{109,43}}</string>
        <key>sourceSize</key>
        <string>{109,43}</string>
      </dict>
      <key>huiguniang-youshou.png</key>
      <dict>
        <key>frame</key>
        <string>{{377,516},{52,62}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{52,62}}</string>
        <key>sourceSize</key>
        <string>{52,62}</string>
      </dict>
      <key>huiguniang-zuoshou.png</key>
      <dict>
        <key>frame</key>
        <string>{{895,285},{40,65}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{40,65}}</string>
        <key>sourceSize</key>
        <string>{40,65}</string>
      </dict>
      <key>huiguniang-shenzi.png</key>
      <dict>
        <key>frame</key>
        <string>{{431,532},{187,129}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{187,129}}</string>
        <key>sourceSize</key>
        <string>{187,129}</string>
      </dict>
      <key>huiguniang-yingzi.png</key>
      <dict>
        <key>frame</key>
        <string>{{1560,634},{246,57}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{246,57}}</string>
        <key>sourceSize</key>
        <string>{246,57}</string>
      </dict>
      <key>huiguniang-yanmei.png</key>
      <dict>
        <key>frame</key>
        <string>{{1770,694},{98,14}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{98,14}}</string>
        <key>sourceSize</key>
        <string>{98,14}</string>
      </dict>
      <key>huiguniang-yan_1.png</key>
      <dict>
        <key>frame</key>
        <string>{{959,679},{108,40}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{108,40}}</string>
        <key>sourceSize</key>
        <string>{108,40}</string>
      </dict>
      <key>huiguniang-tou.png</key>
      <dict>
        <key>frame</key>
        <string>{{1413,495},{145,146}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{145,146}}</string>
        <key>sourceSize</key>
        <string>{145,146}</string>
      </dict>
      <key>huiguniang-shenzi_2.png</key>
      <dict>
        <key>frame</key>
        <string>{{207,342},{223,172}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{223,172}}</string>
        <key>sourceSize</key>
        <string>{223,172}</string>
      </dict>
      <key>huiguniang-shenzi_1.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,656},{120,129}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{120,129}}</string>
        <key>sourceSize</key>
        <string>{120,129}</string>
      </dict>
      <key>huiguniang-shou2_1.png</key>
      <dict>
        <key>frame</key>
        <string>{{304,671},{68,65}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{68,65}}</string>
        <key>sourceSize</key>
        <string>{68,65}</string>
      </dict>
      <key>huiguniang-shou2.png</key>
      <dict>
        <key>frame</key>
        <string>{{1168,668},{70,65}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{70,65}}</string>
        <key>sourceSize</key>
        <string>{70,65}</string>
      </dict>
      <key>huiguniang-toufa.png</key>
      <dict>
        <key>frame</key>
        <string>{{1808,305},{186,248}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{186,248}}</string>
        <key>sourceSize</key>
        <string>{186,248}</string>
      </dict>
      <key>huiguniang-shen_bianshen2.png</key>
      <dict>
        <key>frame</key>
        <string>{{670,285},{223,330}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{223,330}}</string>
        <key>sourceSize</key>
        <string>{223,330}</string>
      </dict>
      <key>huiguniang-jiao.png</key>
      <dict>
        <key>frame</key>
        <string>{{1711,693},{57,56}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{57,56}}</string>
        <key>sourceSize</key>
        <string>{57,56}</string>
      </dict>
      <key>huiguniang-tui.png</key>
      <dict>
        <key>frame</key>
        <string>{{122,656},{59,96}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{59,96}}</string>
        <key>sourceSize</key>
        <string>{59,96}</string>
      </dict>
      <key>huiguniang-shen_bianshen3.png</key>
      <dict>
        <key>frame</key>
        <string>{{1560,257},{246,375}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{246,375}}</string>
        <key>sourceSize</key>
        <string>{246,375}</string>
      </dict>
      <key>huiguniang-zui_1.png</key>
      <dict>
        <key>frame</key>
        <string>{{2013,105},{24,13}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{24,13}}</string>
        <key>sourceSize</key>
        <string>{24,13}</string>
      </dict>
      <key>huiguniang-zui1.png</key>
      <dict>
        <key>frame</key>
        <string>{{2034,77},{7,7}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{7,7}}</string>
        <key>sourceSize</key>
        <string>{7,7}</string>
      </dict>
      <key>huiguniang-yanmei_4.png</key>
      <dict>
        <key>frame</key>
        <string>{{1996,370},{40,14}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{40,14}}</string>
        <key>sourceSize</key>
        <string>{40,14}</string>
      </dict>
      <key>huiguniang-yanmei_2.png</key>
      <dict>
        <key>frame</key>
        <string>{{1996,386},{36,14}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{36,14}}</string>
        <key>sourceSize</key>
        <string>{36,14}</string>
      </dict>
      <key>huiguniang-yan_2.png</key>
      <dict>
        <key>frame</key>
        <string>{{895,352},{40,37}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{40,37}}</string>
        <key>sourceSize</key>
        <string>{40,37}</string>
      </dict>
      <key>huiguniang-tou_1.png</key>
      <dict>
        <key>frame</key>
        <string>{{432,342},{191,188}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{191,188}}</string>
        <key>sourceSize</key>
        <string>{191,188}</string>
      </dict>
      <key>huiguniang-shenzi_3.png</key>
      <dict>
        <key>frame</key>
        <string>{{1074,495},{169,171}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{169,171}}</string>
        <key>sourceSize</key>
        <string>{169,171}</string>
      </dict>
      <key>huiguniang-shou3.png</key>
      <dict>
        <key>frame</key>
        <string>{{1545,710},{57,34}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{57,34}}</string>
        <key>sourceSize</key>
        <string>{57,34}</string>
      </dict>
      <key>huiguniang-shou4.png</key>
      <dict>
        <key>frame</key>
        <string>{{625,342},{37,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{37,64}}</string>
        <key>sourceSize</key>
        <string>{37,64}</string>
      </dict>
      <key>huiguniang-yingzi2.png</key>
      <dict>
        <key>frame</key>
        <string>{{620,617},{248,59}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{248,59}}</string>
        <key>sourceSize</key>
        <string>{248,59}</string>
      </dict>
      <key>xiannv-yanmei_1.png</key>
      <dict>
        <key>frame</key>
        <string>{{1770,710},{66,12}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{66,12}}</string>
        <key>sourceSize</key>
        <string>{66,12}</string>
      </dict>
      <key>xiannv-zui_1.png</key>
      <dict>
        <key>frame</key>
        <string>{{2013,150},{23,5}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{23,5}}</string>
        <key>sourceSize</key>
        <string>{23,5}</string>
      </dict>
      <key>xiannv-zui_2.png</key>
      <dict>
        <key>frame</key>
        <string>{{2013,167},{15,7}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{15,7}}</string>
        <key>sourceSize</key>
        <string>{15,7}</string>
      </dict>
      <key>xiannv-yanyou_1.png</key>
      <dict>
        <key>frame</key>
        <string>{{2013,40},{25,35}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{25,35}}</string>
        <key>sourceSize</key>
        <string>{25,35}</string>
      </dict>
      <key>xiannv-yanzuo_1.png</key>
      <dict>
        <key>frame</key>
        <string>{{2013,0},{33,38}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{33,38}}</string>
        <key>sourceSize</key>
        <string>{33,38}</string>
      </dict>
      <key>xiannv-tou.png</key>
      <dict>
        <key>frame</key>
        <string>{{895,495},{177,182}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{177,182}}</string>
        <key>sourceSize</key>
        <string>{177,182}</string>
      </dict>
      <key>xiannv-shen.png</key>
      <dict>
        <key>frame</key>
        <string>{{1074,668},{92,94}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{92,94}}</string>
        <key>sourceSize</key>
        <string>{92,94}</string>
      </dict>
      <key>xiannv-zuoshou.png</key>
      <dict>
        <key>frame</key>
        <string>{{1870,694},{67,45}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{67,45}}</string>
        <key>sourceSize</key>
        <string>{67,45}</string>
      </dict>
      <key>xiannv-bang.png</key>
      <dict>
        <key>frame</key>
        <string>{{1245,667},{118,94}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{118,94}}</string>
        <key>sourceSize</key>
        <string>{118,94}</string>
      </dict>
      <key>xiannv-youshou.png</key>
      <dict>
        <key>frame</key>
        <string>{{1648,693},{61,54}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{61,54}}</string>
        <key>sourceSize</key>
        <string>{61,54}</string>
      </dict>
      <key>xiannv-tui.png</key>
      <dict>
        <key>frame</key>
        <string>{{1996,305},{50,63}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{50,63}}</string>
        <key>sourceSize</key>
        <string>{50,63}</string>
      </dict>
      <key>wu-guang_1.png</key>
      <dict>
        <key>frame</key>
        <string>{{603,678},{84,82}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{84,82}}</string>
        <key>sourceSize</key>
        <string>{84,82}</string>
      </dict>
      <key>wu-guang_2.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{939,283}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{939,283}}</string>
        <key>sourceSize</key>
        <string>{939,283}</string>
      </dict>
      <key>wu-guang_3.png</key>
      <dict>
        <key>frame</key>
        <string>{{941,0},{893,255}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{893,255}}</string>
        <key>sourceSize</key>
        <string>{893,255}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>c21.png</string>
      <key>textureFileName</key>
      <string>c21.png</string>
      <key>size</key>
      <string>{2048,1024}</string>
    </dict>
  </dict>
</plist>