<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>huiguniang-xin.png</key>
      <dict>
        <key>frame</key>
        <string>{{376,121},{165,148}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{165,148}}</string>
        <key>sourceSize</key>
        <string>{165,148}</string>
      </dict>
      <key>huiguniang-yueguang.png</key>
      <dict>
        <key>frame</key>
        <string>{{174,0},{200,196}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{200,196}}</string>
        <key>sourceSize</key>
        <string>{200,196}</string>
      </dict>
      <key>huiguniang-aixin_.png</key>
      <dict>
        <key>frame</key>
        <string>{{722,225},{46,43}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{46,43}}</string>
        <key>sourceSize</key>
        <string>{46,43}</string>
      </dict>
      <key>huiguniang-guang.png</key>
      <dict>
        <key>frame</key>
        <string>{{376,0},{226,119}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{226,119}}</string>
        <key>sourceSize</key>
        <string>{226,119}</string>
      </dict>
      <key>huiguniang-zuoshou1.png</key>
      <dict>
        <key>frame</key>
        <string>{{900,156},{32,68}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{32,68}}</string>
        <key>sourceSize</key>
        <string>{32,68}</string>
      </dict>
      <key>huiguniang-tou1.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,231},{134,138}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{134,138}}</string>
        <key>sourceSize</key>
        <string>{134,138}</string>
      </dict>
      <key>huiguniang-shen1.png</key>
      <dict>
        <key>frame</key>
        <string>{{900,306},{114,123}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{114,123}}</string>
        <key>sourceSize</key>
        <string>{114,123}</string>
      </dict>
      <key>huiguniang-youshou1.png</key>
      <dict>
        <key>frame</key>
        <string>{{543,240},{43,45}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{43,45}}</string>
        <key>sourceSize</key>
        <string>{43,45}</string>
      </dict>
      <key>huiguniang-jiao.png</key>
      <dict>
        <key>frame</key>
        <string>{{136,342},{135,60}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{135,60}}</string>
        <key>sourceSize</key>
        <string>{135,60}</string>
      </dict>
      <key>huiguniang-zui.png</key>
      <dict>
        <key>frame</key>
        <string>{{1000,114},{21,15}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{21,15}}</string>
        <key>sourceSize</key>
        <string>{21,15}</string>
      </dict>
      <key>huiguniang-fangzi2.png</key>
      <dict>
        <key>frame</key>
        <string>{{510,342},{131,55}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{131,55}}</string>
        <key>sourceSize</key>
        <string>{131,55}</string>
      </dict>
      <key>huiguniang-qi.png</key>
      <dict>
        <key>frame</key>
        <string>{{315,249},{56,45}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{56,45}}</string>
        <key>sourceSize</key>
        <string>{56,45}</string>
      </dict>
      <key>huiguniang-zuitanqi.png</key>
      <dict>
        <key>frame</key>
        <string>{{1000,131},{18,8}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{18,8}}</string>
        <key>sourceSize</key>
        <string>{18,8}</string>
      </dict>
      <key>huiguniang-yan.png</key>
      <dict>
        <key>frame</key>
        <string>{{373,399},{98,52}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{98,52}}</string>
        <key>sourceSize</key>
        <string>{98,52}</string>
      </dict>
      <key>huiguniang-meimao.png</key>
      <dict>
        <key>frame</key>
        <string>{{473,399},{94,26}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{94,26}}</string>
        <key>sourceSize</key>
        <string>{94,26}</string>
      </dict>
      <key>huiguniang-lian.png</key>
      <dict>
        <key>frame</key>
        <string>{{174,198},{139,142}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{139,142}}</string>
        <key>sourceSize</key>
        <string>{139,142}</string>
      </dict>
      <key>huiguniang-zuoshou2.png</key>
      <dict>
        <key>frame</key>
        <string>{{543,121},{45,58}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{45,58}}</string>
        <key>sourceSize</key>
        <string>{45,58}</string>
      </dict>
      <key>huiguniang-youshou2.png</key>
      <dict>
        <key>frame</key>
        <string>{{543,181},{40,57}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{40,57}}</string>
        <key>sourceSize</key>
        <string>{40,57}</string>
      </dict>
      <key>huiguniang-shen2.png</key>
      <dict>
        <key>frame</key>
        <string>{{273,342},{98,78}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{98,78}}</string>
        <key>sourceSize</key>
        <string>{98,78}</string>
      </dict>
      <key>huiguniang-toufa.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{172,229}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{172,229}}</string>
        <key>sourceSize</key>
        <string>{172,229}</string>
      </dict>
      <key>wangzi-zuoshou1.png</key>
      <dict>
        <key>frame</key>
        <string>{{722,169},{45,54}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{45,54}}</string>
        <key>sourceSize</key>
        <string>{45,54}</string>
      </dict>
      <key>wangzi-zui1.png</key>
      <dict>
        <key>frame</key>
        <string>{{1010,0},{10,11}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{10,11}}</string>
        <key>sourceSize</key>
        <string>{10,11}</string>
      </dict>
      <key>wangzi-yanmei1.png</key>
      <dict>
        <key>frame</key>
        <string>{{136,231},{32,14}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{32,14}}</string>
        <key>sourceSize</key>
        <string>{32,14}</string>
      </dict>
      <key>wangzi-yan1.png</key>
      <dict>
        <key>frame</key>
        <string>{{900,226},{26,27}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{26,27}}</string>
        <key>sourceSize</key>
        <string>{26,27}</string>
      </dict>
      <key>wangzi-tou1.png</key>
      <dict>
        <key>frame</key>
        <string>{{373,271},{135,126}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{135,126}}</string>
        <key>sourceSize</key>
        <string>{135,126}</string>
      </dict>
      <key>wangzi-shen1.png</key>
      <dict>
        <key>frame</key>
        <string>{{722,338},{116,96}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{116,96}}</string>
        <key>sourceSize</key>
        <string>{116,96}</string>
      </dict>
      <key>wangzi-youshou1.png</key>
      <dict>
        <key>frame</key>
        <string>{{944,69},{73,43}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{73,43}}</string>
        <key>sourceSize</key>
        <string>{73,43}</string>
      </dict>
      <key>wangzi-tui1.png</key>
      <dict>
        <key>frame</key>
        <string>{{928,240},{93,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{93,64}}</string>
        <key>sourceSize</key>
        <string>{93,64}</string>
      </dict>
      <key>wangzi-yanmei2.png</key>
      <dict>
        <key>frame</key>
        <string>{{569,399},{94,17}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{94,17}}</string>
        <key>sourceSize</key>
        <string>{94,17}</string>
      </dict>
      <key>wangzi-yan2.png</key>
      <dict>
        <key>frame</key>
        <string>{{934,205},{80,33}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{80,33}}</string>
        <key>sourceSize</key>
        <string>{80,33}</string>
      </dict>
      <key>wangzi-zui2.png</key>
      <dict>
        <key>frame</key>
        <string>{{1000,141},{14,8}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{14,8}}</string>
        <key>sourceSize</key>
        <string>{14,8}</string>
      </dict>
      <key>wangzi-tou2.png</key>
      <dict>
        <key>frame</key>
        <string>{{774,0},{168,154}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{168,154}}</string>
        <key>sourceSize</key>
        <string>{168,154}</string>
      </dict>
      <key>wangzi-zuoshou2.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,371},{101,74}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{101,74}}</string>
        <key>sourceSize</key>
        <string>{101,74}</string>
      </dict>
      <key>wangzi-xie.png</key>
      <dict>
        <key>frame</key>
        <string>{{315,198},{53,49}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{53,49}}</string>
        <key>sourceSize</key>
        <string>{53,49}</string>
      </dict>
      <key>wangzi-shen2.png</key>
      <dict>
        <key>frame</key>
        <string>{{590,169},{130,171}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{130,171}}</string>
        <key>sourceSize</key>
        <string>{130,171}</string>
      </dict>
      <key>wangzi-youshou2.png</key>
      <dict>
        <key>frame</key>
        <string>{{944,0},{64,67}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{64,67}}</string>
        <key>sourceSize</key>
        <string>{64,67}</string>
      </dict>
      <key>wangzi-tui2.png</key>
      <dict>
        <key>frame</key>
        <string>{{774,156},{124,180}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{124,180}}</string>
        <key>sourceSize</key>
        <string>{124,180}</string>
      </dict>
      <key>yueliang-zui_3.png</key>
      <dict>
        <key>frame</key>
        <string>{{944,114},{54,51}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{54,51}}</string>
        <key>sourceSize</key>
        <string>{54,51}</string>
      </dict>
      <key>yueliang-zui_2.png</key>
      <dict>
        <key>frame</key>
        <string>{{722,270},{44,25}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{44,25}}</string>
        <key>sourceSize</key>
        <string>{44,25}</string>
      </dict>
      <key>yueliang-zui_1.png</key>
      <dict>
        <key>frame</key>
        <string>{{510,287},{73,28}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{73,28}}</string>
        <key>sourceSize</key>
        <string>{73,28}</string>
      </dict>
      <key>yueliang-yan.png</key>
      <dict>
        <key>frame</key>
        <string>{{934,167},{82,36}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{82,36}}</string>
        <key>sourceSize</key>
        <string>{82,36}</string>
      </dict>
      <key>yueliang-yue.png</key>
      <dict>
        <key>frame</key>
        <string>{{604,0},{168,167}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{168,167}}</string>
        <key>sourceSize</key>
        <string>{168,167}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>c32.png</string>
      <key>textureFileName</key>
      <string>c32.png</string>
      <key>size</key>
      <string>{1024,512}</string>
    </dict>
  </dict>
</plist>