<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>chibangyuanjian.png</key>
      <dict>
        <key>frame</key>
        <string>{{907,325},{37,27}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{37,27}}</string>
        <key>sourceSize</key>
        <string>{37,27}</string>
      </dict>
      <key>gezi-zui_1.png</key>
      <dict>
        <key>frame</key>
        <string>{{738,351},{20,15}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{20,15}}</string>
        <key>sourceSize</key>
        <string>{20,15}</string>
      </dict>
      <key>gezi-zui_2.png</key>
      <dict>
        <key>frame</key>
        <string>{{907,256},{14,15}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{14,15}}</string>
        <key>sourceSize</key>
        <string>{14,15}</string>
      </dict>
      <key>ge zi-niaoshen.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,380},{91,67}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{91,67}}</string>
        <key>sourceSize</key>
        <string>{91,67}</string>
      </dict>
      <key>dajie-元件 9.png</key>
      <dict>
        <key>frame</key>
        <string>{{972,108},{9,10}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{9,10}}</string>
        <key>sourceSize</key>
        <string>{9,10}</string>
      </dict>
      <key>dajie-元件 8.png</key>
      <dict>
        <key>frame</key>
        <string>{{956,378},{56,25}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{56,25}}</string>
        <key>sourceSize</key>
        <string>{56,25}</string>
      </dict>
      <key>dajie-元件 4.png</key>
      <dict>
        <key>frame</key>
        <string>{{185,192},{143,109}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{143,109}}</string>
        <key>sourceSize</key>
        <string>{143,109}</string>
      </dict>
      <key>dajie-元件 2.png</key>
      <dict>
        <key>frame</key>
        <string>{{927,213},{43,51}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{43,51}}</string>
        <key>sourceSize</key>
        <string>{43,51}</string>
      </dict>
      <key>dajie-元件 3.png</key>
      <dict>
        <key>frame</key>
        <string>{{753,136},{25,55}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{25,55}}</string>
        <key>sourceSize</key>
        <string>{25,55}</string>
      </dict>
      <key>dajie-元件 1.png</key>
      <dict>
        <key>frame</key>
        <string>{{592,268},{114,96}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{114,96}}</string>
        <key>sourceSize</key>
        <string>{114,96}</string>
      </dict>
      <key>dajie-元件 7.png</key>
      <dict>
        <key>frame</key>
        <string>{{753,261},{23,13}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{23,13}}</string>
        <key>sourceSize</key>
        <string>{23,13}</string>
      </dict>
      <key>dajie-元件 5.png</key>
      <dict>
        <key>frame</key>
        <string>{{509,314},{32,40}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{32,40}}</string>
        <key>sourceSize</key>
        <string>{32,40}</string>
      </dict>
      <key>dajie-元件 6.png</key>
      <dict>
        <key>frame</key>
        <string>{{708,316},{28,40}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{28,40}}</string>
        <key>sourceSize</key>
        <string>{28,40}</string>
      </dict>
      <key>dajie-元件 10.png</key>
      <dict>
        <key>frame</key>
        <string>{{888,426},{105,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{105,32}}</string>
        <key>sourceSize</key>
        <string>{105,32}</string>
      </dict>
      <key>xie-元件 5.png</key>
      <dict>
        <key>frame</key>
        <string>{{961,324},{52,52}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{52,52}}</string>
        <key>sourceSize</key>
        <string>{52,52}</string>
      </dict>
      <key>xie-元件 3.png</key>
      <dict>
        <key>frame</key>
        <string>{{122,314},{52,52}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{52,52}}</string>
        <key>sourceSize</key>
        <string>{52,52}</string>
      </dict>
      <key>ge zi-chi_1.png</key>
      <dict>
        <key>frame</key>
        <string>{{543,321},{37,27}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{37,27}}</string>
        <key>sourceSize</key>
        <string>{37,27}</string>
      </dict>
      <key>erjie-11.png</key>
      <dict>
        <key>frame</key>
        <string>{{760,351},{17,11}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{17,11}}</string>
        <key>sourceSize</key>
        <string>{17,11}</string>
      </dict>
      <key>erjie-元件 8.png</key>
      <dict>
        <key>frame</key>
        <string>{{680,408},{72,28}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{72,28}}</string>
        <key>sourceSize</key>
        <string>{72,28}</string>
      </dict>
      <key>erjie-元件 4.png</key>
      <dict>
        <key>frame</key>
        <string>{{593,0},{187,134}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{187,134}}</string>
        <key>sourceSize</key>
        <string>{187,134}</string>
      </dict>
      <key>erjie-元件 2.png</key>
      <dict>
        <key>frame</key>
        <string>{{972,192},{39,69}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{39,69}}</string>
        <key>sourceSize</key>
        <string>{39,69}</string>
      </dict>
      <key>erjie-元件 1.png</key>
      <dict>
        <key>frame</key>
        <string>{{779,256},{126,94}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{126,94}}</string>
        <key>sourceSize</key>
        <string>{126,94}</string>
      </dict>
      <key>erjie-元件 3.png</key>
      <dict>
        <key>frame</key>
        <string>{{122,249},{55,63}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{55,63}}</string>
        <key>sourceSize</key>
        <string>{55,63}</string>
      </dict>
      <key>erjie-元件 7.png</key>
      <dict>
        <key>frame</key>
        <string>{{753,210},{25,14}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{25,14}}</string>
        <key>sourceSize</key>
        <string>{25,14}</string>
      </dict>
      <key>erjie-元件 5.png</key>
      <dict>
        <key>frame</key>
        <string>{{742,276},{34,40}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{34,40}}</string>
        <key>sourceSize</key>
        <string>{34,40}</string>
      </dict>
      <key>erjie-元件 6.png</key>
      <dict>
        <key>frame</key>
        <string>{{557,277},{32,42}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{32,42}}</string>
        <key>sourceSize</key>
        <string>{32,42}</string>
      </dict>
      <key>erjie-元件 9.png</key>
      <dict>
        <key>frame</key>
        <string>{{93,443},{105,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{105,32}}</string>
        <key>sourceSize</key>
        <string>{105,32}</string>
      </dict>
      <key>ge zi-gezi.png</key>
      <dict>
        <key>frame</key>
        <string>{{122,374},{101,67}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{101,67}}</string>
        <key>sourceSize</key>
        <string>{101,67}</string>
      </dict>
      <key>houma-zuoshou_2.png</key>
      <dict>
        <key>frame</key>
        <string>{{306,392},{75,58}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{75,58}}</string>
        <key>sourceSize</key>
        <string>{75,58}</string>
      </dict>
      <key>houma-youshou.png</key>
      <dict>
        <key>frame</key>
        <string>{{509,366},{70,60}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{70,60}}</string>
        <key>sourceSize</key>
        <string>{70,60}</string>
      </dict>
      <key>houma-tou_2.png</key>
      <dict>
        <key>frame</key>
        <string>{{396,0},{195,183}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{195,183}}</string>
        <key>sourceSize</key>
        <string>{195,183}</string>
      </dict>
      <key>houma-shenzi.png</key>
      <dict>
        <key>frame</key>
        <string>{{593,136},{158,130}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{158,130}}</string>
        <key>sourceSize</key>
        <string>{158,130}</string>
      </dict>
      <key>houma-jiao.png</key>
      <dict>
        <key>frame</key>
        <string>{{708,268},{32,46}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{32,46}}</string>
        <key>sourceSize</key>
        <string>{32,46}</string>
      </dict>
      <key>houma-houmayingzi.png</key>
      <dict>
        <key>frame</key>
        <string>{{383,449},{105,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{105,32}}</string>
        <key>sourceSize</key>
        <string>{105,32}</string>
      </dict>
      <key>huiguniang-元件 12.png</key>
      <dict>
        <key>frame</key>
        <string>{{753,246},{24,13}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{24,13}}</string>
        <key>sourceSize</key>
        <string>{24,13}</string>
      </dict>
      <key>huiguniang-元件 9.png</key>
      <dict>
        <key>frame</key>
        <string>{{383,404},{109,43}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{109,43}}</string>
        <key>sourceSize</key>
        <string>{109,43}</string>
      </dict>
      <key>huiguniang-元件 10.png</key>
      <dict>
        <key>frame</key>
        <string>{{200,443},{98,12}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{98,12}}</string>
        <key>sourceSize</key>
        <string>{98,12}</string>
      </dict>
      <key>huiguniang-元件 3.png</key>
      <dict>
        <key>frame</key>
        <string>{{782,108},{143,146}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{143,146}}</string>
        <key>sourceSize</key>
        <string>{143,146}</string>
      </dict>
      <key>huiguniang-元件 5.png</key>
      <dict>
        <key>frame</key>
        <string>{{557,185},{33,90}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{33,90}}</string>
        <key>sourceSize</key>
        <string>{33,90}</string>
      </dict>
      <key>huiguniang-元件 4.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,249},{120,129}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{120,129}}</string>
        <key>sourceSize</key>
        <string>{120,129}</string>
      </dict>
      <key>huiguniang-元件 6.png</key>
      <dict>
        <key>frame</key>
        <string>{{330,192},{64,62}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{64,62}}</string>
        <key>sourceSize</key>
        <string>{64,62}</string>
      </dict>
      <key>huiguniang-元件 8.png</key>
      <dict>
        <key>frame</key>
        <string>{{753,193},{25,15}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{25,15}}</string>
        <key>sourceSize</key>
        <string>{25,15}</string>
      </dict>
      <key>huiguniang-元件 1.png</key>
      <dict>
        <key>frame</key>
        <string>{{985,97},{34,93}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{34,93}}</string>
        <key>sourceSize</key>
        <string>{34,93}</string>
      </dict>
      <key>huiguniang-元件 2.png</key>
      <dict>
        <key>frame</key>
        <string>{{985,0},{36,95}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{36,95}}</string>
        <key>sourceSize</key>
        <string>{36,95}</string>
      </dict>
      <key>huiguniang-元件 7.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{183,247}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{183,247}}</string>
        <key>sourceSize</key>
        <string>{183,247}</string>
      </dict>
      <key>huiguniang-tui.png</key>
      <dict>
        <key>frame</key>
        <string>{{927,108},{43,103}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{43,103}}</string>
        <key>sourceSize</key>
        <string>{43,103}</string>
      </dict>
      <key>huiguniang-元件 11.png</key>
      <dict>
        <key>frame</key>
        <string>{{581,366},{151,40}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{151,40}}</string>
        <key>sourceSize</key>
        <string>{151,40}</string>
      </dict>
      <key>wu-maoweiba.png</key>
      <dict>
        <key>frame</key>
        <string>{{738,318},{36,31}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{36,31}}</string>
        <key>sourceSize</key>
        <string>{36,31}</string>
      </dict>
      <key>wu-maoshen.png</key>
      <dict>
        <key>frame</key>
        <string>{{779,352},{107,82}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{107,82}}</string>
        <key>sourceSize</key>
        <string>{107,82}</string>
      </dict>
      <key>wu-maoshen1.png</key>
      <dict>
        <key>frame</key>
        <string>{{179,303},{136,69}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{136,69}}</string>
        <key>sourceSize</key>
        <string>{136,69}</string>
      </dict>
      <key>xiaogou-元件 1.png</key>
      <dict>
        <key>frame</key>
        <string>{{753,226},{20,18}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{20,18}}</string>
        <key>sourceSize</key>
        <string>{20,18}</string>
      </dict>
      <key>xiaogou-元件 12.png</key>
      <dict>
        <key>frame</key>
        <string>{{1009,263},{12,14}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{12,14}}</string>
        <key>sourceSize</key>
        <string>{12,14}</string>
      </dict>
      <key>xiaogou-元件 11.png</key>
      <dict>
        <key>frame</key>
        <string>{{543,350},{39,14}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{39,14}}</string>
        <key>sourceSize</key>
        <string>{39,14}</string>
      </dict>
      <key>xiaogou-元件 10.png</key>
      <dict>
        <key>frame</key>
        <string>{{581,408},{97,52}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{97,52}}</string>
        <key>sourceSize</key>
        <string>{97,52}</string>
      </dict>
      <key>xiaogou-元件 7.png</key>
      <dict>
        <key>frame</key>
        <string>{{185,0},{209,190}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{209,190}}</string>
        <key>sourceSize</key>
        <string>{209,190}</string>
      </dict>
      <key>xiaogou-元件 2.png</key>
      <dict>
        <key>frame</key>
        <string>{{782,0},{201,106}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{201,106}}</string>
        <key>sourceSize</key>
        <string>{201,106}</string>
      </dict>
      <key>xiaogou-元件 6.png</key>
      <dict>
        <key>frame</key>
        <string>{{888,354},{66,70}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{66,70}}</string>
        <key>sourceSize</key>
        <string>{66,70}</string>
      </dict>
      <key>xiaogou-元件 3.png</key>
      <dict>
        <key>frame</key>
        <string>{{396,185},{159,127}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{159,127}}</string>
        <key>sourceSize</key>
        <string>{159,127}</string>
      </dict>
      <key>xiaogou-元件 4.png</key>
      <dict>
        <key>frame</key>
        <string>{{396,314},{111,88}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{111,88}}</string>
        <key>sourceSize</key>
        <string>{111,88}</string>
      </dict>
      <key>xiaogou-元件 5.png</key>
      <dict>
        <key>frame</key>
        <string>{{225,374},{79,57}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{79,57}}</string>
        <key>sourceSize</key>
        <string>{79,57}</string>
      </dict>
      <key>xiaogou-元件 9.png</key>
      <dict>
        <key>frame</key>
        <string>{{972,263},{35,59}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{35,59}}</string>
        <key>sourceSize</key>
        <string>{35,59}</string>
      </dict>
      <key>xiaogou-元件 8.png</key>
      <dict>
        <key>frame</key>
        <string>{{923,266},{36,57}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{36,57}}</string>
        <key>sourceSize</key>
        <string>{36,57}</string>
      </dict>
      <key>xiaogou-元件 13.png</key>
      <dict>
        <key>frame</key>
        <string>{{754,436},{105,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{105,32}}</string>
        <key>sourceSize</key>
        <string>{105,32}</string>
      </dict>
      <key>xie-元件 2.png</key>
      <dict>
        <key>frame</key>
        <string>{{317,310},{77,80}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{77,80}}</string>
        <key>sourceSize</key>
        <string>{77,80}</string>
      </dict>
      <key>xie-元件 4.png</key>
      <dict>
        <key>frame</key>
        <string>{{330,256},{52,52}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{52,52}}</string>
        <key>sourceSize</key>
        <string>{52,52}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>c42.png</string>
      <key>textureFileName</key>
      <string>c42.png</string>
      <key>size</key>
      <string>{1024,512}</string>
    </dict>
  </dict>
</plist>