<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>wu-gaoshi.png</key>
      <dict>
        <key>frame</key>
        <string>{{832,78},{114,130}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{114,130}}</string>
        <key>sourceSize</key>
        <string>{114,130}</string>
      </dict>
      <key>wu-gaoshipai.png</key>
      <dict>
        <key>frame</key>
        <string>{{277,0},{209,239}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{209,239}}</string>
        <key>sourceSize</key>
        <string>{209,239}</string>
      </dict>
      <key>wu-dishushou.png</key>
      <dict>
        <key>frame</key>
        <string>{{416,274},{65,21}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{65,21}}</string>
        <key>sourceSize</key>
        <string>{65,21}</string>
      </dict>
      <key>wu-dishuma.png</key>
      <dict>
        <key>frame</key>
        <string>{{574,234},{67,62}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{67,62}}</string>
        <key>sourceSize</key>
        <string>{67,62}</string>
      </dict>
      <key>wu-dong.png</key>
      <dict>
        <key>frame</key>
        <string>{{832,0},{176,76}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{176,76}}</string>
        <key>sourceSize</key>
        <string>{176,76}</string>
      </dict>
      <key>wu-touxiang_1.png</key>
      <dict>
        <key>frame</key>
        <string>{{488,165},{84,107}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{84,107}}</string>
        <key>sourceSize</key>
        <string>{84,107}</string>
      </dict>
      <key>wu-touxiang_2.png</key>
      <dict>
        <key>frame</key>
        <string>{{948,78},{57,148}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{57,148}}</string>
        <key>sourceSize</key>
        <string>{57,148}</string>
      </dict>
      <key>wu-touxiang_3.png</key>
      <dict>
        <key>frame</key>
        <string>{{574,165},{91,67}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{91,67}}</string>
        <key>sourceSize</key>
        <string>{91,67}</string>
      </dict>
      <key>wu-guang.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{275,277}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{275,277}}</string>
        <key>sourceSize</key>
        <string>{275,277}</string>
      </dict>
      <key>tuzi-tuzi_meimao.png</key>
      <dict>
        <key>frame</key>
        <string>{{348,274},{66,31}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{66,31}}</string>
        <key>sourceSize</key>
        <string>{66,31}</string>
      </dict>
      <key>tuzi-tuzi_yan.png</key>
      <dict>
        <key>frame</key>
        <string>{{674,252},{78,46}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{78,46}}</string>
        <key>sourceSize</key>
        <string>{78,46}</string>
      </dict>
      <key>tuzi-tuzi_zui.png</key>
      <dict>
        <key>frame</key>
        <string>{{754,252},{22,22}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{22,22}}</string>
        <key>sourceSize</key>
        <string>{22,22}</string>
      </dict>
      <key>tuzi-tuzi_tou.png</key>
      <dict>
        <key>frame</key>
        <string>{{681,0},{149,132}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{149,132}}</string>
        <key>sourceSize</key>
        <string>{149,132}</string>
      </dict>
      <key>tuzi-tuzi_zuoshou.png</key>
      <dict>
        <key>frame</key>
        <string>{{643,234},{29,37}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{29,37}}</string>
        <key>sourceSize</key>
        <string>{29,37}</string>
      </dict>
      <key>tuzi-tuzi_shen.png</key>
      <dict>
        <key>frame</key>
        <string>{{831,210},{59,85}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{59,85}}</string>
        <key>sourceSize</key>
        <string>{59,85}</string>
      </dict>
      <key>tuzi-tuzi_youshou.png</key>
      <dict>
        <key>frame</key>
        <string>{{892,210},{34,34}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{34,34}}</string>
        <key>sourceSize</key>
        <string>{34,34}</string>
      </dict>
      <key>tuzi-yingzi_tu.png</key>
      <dict>
        <key>frame</key>
        <string>{{376,241},{97,31}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{97,31}}</string>
        <key>sourceSize</key>
        <string>{97,31}</string>
      </dict>
      <key>xiaogou-xiaogou_shou2.png</key>
      <dict>
        <key>frame</key>
        <string>{{779,207},{50,52}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{50,52}}</string>
        <key>sourceSize</key>
        <string>{50,52}</string>
      </dict>
      <key>xiaogou-xiaogou_meimao.png</key>
      <dict>
        <key>frame</key>
        <string>{{892,246},{34,13}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{34,13}}</string>
        <key>sourceSize</key>
        <string>{34,13}</string>
      </dict>
      <key>xiaogou-xiaogou_zui2.png</key>
      <dict>
        <key>frame</key>
        <string>{{928,210},{17,7}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{17,7}}</string>
        <key>sourceSize</key>
        <string>{17,7}</string>
      </dict>
      <key>xiaogou-xiaogou_zui1.png</key>
      <dict>
        <key>frame</key>
        <string>{{1007,78},{14,10}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{14,10}}</string>
        <key>sourceSize</key>
        <string>{14,10}</string>
      </dict>
      <key>xiaogou-xiaogou_yan.png</key>
      <dict>
        <key>frame</key>
        <string>{{928,228},{84,45}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{84,45}}</string>
        <key>sourceSize</key>
        <string>{84,45}</string>
      </dict>
      <key>xiaogou-xiaogou_tou.png</key>
      <dict>
        <key>frame</key>
        <string>{{488,0},{191,163}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{191,163}}</string>
        <key>sourceSize</key>
        <string>{191,163}</string>
      </dict>
      <key>xiaogou-xiaogou_shou1.png</key>
      <dict>
        <key>frame</key>
        <string>{{779,134},{43,71}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{43,71}}</string>
        <key>sourceSize</key>
        <string>{43,71}</string>
      </dict>
      <key>xiaogou-xiaogou_shen.png</key>
      <dict>
        <key>frame</key>
        <string>{{681,134},{96,116}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{96,116}}</string>
        <key>sourceSize</key>
        <string>{96,116}</string>
      </dict>
      <key>xiaogou-xiaogou_zuoshou.png</key>
      <dict>
        <key>frame</key>
        <string>{{277,274},{69,50}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{69,50}}</string>
        <key>sourceSize</key>
        <string>{69,50}</string>
      </dict>
      <key>xiaogou-yingzi_gou.png</key>
      <dict>
        <key>frame</key>
        <string>{{277,241},{97,31}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{97,31}}</string>
        <key>sourceSize</key>
        <string>{97,31}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>c33.png</string>
      <key>textureFileName</key>
      <string>c33.png</string>
      <key>size</key>
      <string>{1024,512}</string>
    </dict>
  </dict>
</plist>