<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>xiannv-chibang1.png</key>
      <dict>
        <key>frame</key>
        <string>{{750,143},{118,101}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{118,101}}</string>
        <key>sourceSize</key>
        <string>{118,101}</string>
      </dict>
      <key>xiannv-chibang2.png</key>
      <dict>
        <key>frame</key>
        <string>{{908,0},{114,117}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{114,117}}</string>
        <key>sourceSize</key>
        <string>{114,117}</string>
      </dict>
      <key>xiannv-wu-shou_2.png</key>
      <dict>
        <key>frame</key>
        <string>{{485,238},{54,20}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{54,20}}</string>
        <key>sourceSize</key>
        <string>{54,20}</string>
      </dict>
      <key>xiannv-wu-shou_1.png</key>
      <dict>
        <key>frame</key>
        <string>{{870,143},{34,27}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{34,27}}</string>
        <key>sourceSize</key>
        <string>{34,27}</string>
      </dict>
      <key>xiannv-wu-zui.png</key>
      <dict>
        <key>frame</key>
        <string>{{994,125},{12,6}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{12,6}}</string>
        <key>sourceSize</key>
        <string>{12,6}</string>
      </dict>
      <key>xiannv-wu-tou.png</key>
      <dict>
        <key>frame</key>
        <string>{{908,119},{84,95}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{84,95}}</string>
        <key>sourceSize</key>
        <string>{84,95}</string>
      </dict>
      <key>xiannv-wu-shenzi.png</key>
      <dict>
        <key>frame</key>
        <string>{{376,238},{49,35}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{49,35}}</string>
        <key>sourceSize</key>
        <string>{49,35}</string>
      </dict>
      <key>xiannv-wu-lian_2.png</key>
      <dict>
        <key>frame</key>
        <string>{{334,238},{40,47}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{40,47}}</string>
        <key>sourceSize</key>
        <string>{40,47}</string>
      </dict>
      <key>xiannv-wu-lian_1.png</key>
      <dict>
        <key>frame</key>
        <string>{{290,238},{42,47}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{42,47}}</string>
        <key>sourceSize</key>
        <string>{42,47}</string>
      </dict>
      <key>xiannv-wu-chefu.png</key>
      <dict>
        <key>frame</key>
        <string>{{619,0},{148,137}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{148,137}}</string>
        <key>sourceSize</key>
        <string>{148,137}</string>
      </dict>
      <key>xiannv-mati2.png</key>
      <dict>
        <key>frame</key>
        <string>{{94,238},{62,53}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{62,53}}</string>
        <key>sourceSize</key>
        <string>{62,53}</string>
      </dict>
      <key>xiannv-mati1.png</key>
      <dict>
        <key>frame</key>
        <string>{{943,216},{62,53}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{62,53}}</string>
        <key>sourceSize</key>
        <string>{62,53}</string>
      </dict>
      <key>xiannv-wu-mache.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{617,236}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{617,236}}</string>
        <key>sourceSize</key>
        <string>{617,236}</string>
      </dict>
      <key>xiannv-guang.png</key>
      <dict>
        <key>frame</key>
        <string>{{619,139},{129,126}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{129,126}}</string>
        <key>sourceSize</key>
        <string>{129,126}</string>
      </dict>
      <key>xiannv-bang.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,238},{92,73}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{92,73}}</string>
        <key>sourceSize</key>
        <string>{92,73}</string>
      </dict>
      <key>xiannv-zui_1.png</key>
      <dict>
        <key>frame</key>
        <string>{{994,119},{18,4}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{18,4}}</string>
        <key>sourceSize</key>
        <string>{18,4}</string>
      </dict>
      <key>xiannv-zui_2.png</key>
      <dict>
        <key>frame</key>
        <string>{{1008,125},{12,5}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{12,5}}</string>
        <key>sourceSize</key>
        <string>{12,5}</string>
      </dict>
      <key>xiannv-yan.png</key>
      <dict>
        <key>frame</key>
        <string>{{158,238},{75,30}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{75,30}}</string>
        <key>sourceSize</key>
        <string>{75,30}</string>
      </dict>
      <key>xiannv-tou.png</key>
      <dict>
        <key>frame</key>
        <string>{{769,0},{137,141}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{137,141}}</string>
        <key>sourceSize</key>
        <string>{137,141}</string>
      </dict>
      <key>xiannv-shen.png</key>
      <dict>
        <key>frame</key>
        <string>{{870,216},{71,102}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{71,102}}</string>
        <key>sourceSize</key>
        <string>{71,102}</string>
      </dict>
      <key>xiannv-suozhou.png</key>
      <dict>
        <key>frame</key>
        <string>{{427,238},{56,22}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{56,22}}</string>
        <key>sourceSize</key>
        <string>{56,22}</string>
      </dict>
      <key>xiannv-youshou.png</key>
      <dict>
        <key>frame</key>
        <string>{{235,238},{53,36}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{53,36}}</string>
        <key>sourceSize</key>
        <string>{53,36}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>c23.png</string>
      <key>textureFileName</key>
      <string>c23.png</string>
      <key>size</key>
      <string>{1024,512}</string>
    </dict>
  </dict>
</plist>