<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>wu-guolu_3.png</key>
      <dict>
        <key>frame</key>
        <string>{{624,478},{143,37}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{143,37}}</string>
        <key>sourceSize</key>
        <string>{143,37}</string>
      </dict>
      <key>wu-guolu_2.png</key>
      <dict>
        <key>frame</key>
        <string>{{848,294},{113,110}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{113,110}}</string>
        <key>sourceSize</key>
        <string>{113,110}</string>
      </dict>
      <key>wu-guolu_1.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{310,521}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{310,521}}</string>
        <key>sourceSize</key>
        <string>{310,521}</string>
      </dict>
      <key>houma-zuoshou_2.png</key>
      <dict>
        <key>frame</key>
        <string>{{942,406},{75,58}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{75,58}}</string>
        <key>sourceSize</key>
        <string>{75,58}</string>
      </dict>
      <key>houma-youshou.png</key>
      <dict>
        <key>frame</key>
        <string>{{942,466},{70,60}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{70,60}}</string>
        <key>sourceSize</key>
        <string>{70,60}</string>
      </dict>
      <key>houma-tou_2.png</key>
      <dict>
        <key>frame</key>
        <string>{{502,0},{195,183}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{195,183}}</string>
        <key>sourceSize</key>
        <string>{195,183}</string>
      </dict>
      <key>houma-shenzi.png</key>
      <dict>
        <key>frame</key>
        <string>{{312,253},{158,130}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{158,130}}</string>
        <key>sourceSize</key>
        <string>{158,130}</string>
      </dict>
      <key>houma-houmayingzi.png</key>
      <dict>
        <key>frame</key>
        <string>{{789,448},{151,40}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{151,40}}</string>
        <key>sourceSize</key>
        <string>{151,40}</string>
      </dict>
      <key>houma-tou.png</key>
      <dict>
        <key>frame</key>
        <string>{{699,0},{188,182}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{188,182}}</string>
        <key>sourceSize</key>
        <string>{188,182}</string>
      </dict>
      <key>houma-shou.png</key>
      <dict>
        <key>frame</key>
        <string>{{967,137},{50,74}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{50,74}}</string>
        <key>sourceSize</key>
        <string>{50,74}</string>
      </dict>
      <key>houma-shen.png</key>
      <dict>
        <key>frame</key>
        <string>{{502,185},{158,132}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{158,132}}</string>
        <key>sourceSize</key>
        <string>{158,132}</string>
      </dict>
      <key>houma-jiao.png</key>
      <dict>
        <key>frame</key>
        <string>{{662,185},{32,46}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{32,46}}</string>
        <key>sourceSize</key>
        <string>{32,46}</string>
      </dict>
      <key>houma-yingzihouma.png</key>
      <dict>
        <key>frame</key>
        <string>{{789,406},{151,40}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{151,40}}</string>
        <key>sourceSize</key>
        <string>{151,40}</string>
      </dict>
      <key>huiguniang-yanlei4.png</key>
      <dict>
        <key>frame</key>
        <string>{{624,517},{109,48}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{109,48}}</string>
        <key>sourceSize</key>
        <string>{109,48}</string>
      </dict>
      <key>huiguniang-qi.png</key>
      <dict>
        <key>frame</key>
        <string>{{963,344},{56,45}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{56,45}}</string>
        <key>sourceSize</key>
        <string>{56,45}</string>
      </dict>
      <key>huiguniang-yanlei.png</key>
      <dict>
        <key>frame</key>
        <string>{{164,540},{96,13}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{96,13}}</string>
        <key>sourceSize</key>
        <string>{96,13}</string>
      </dict>
      <key>huiguniang-yanmei2.png</key>
      <dict>
        <key>frame</key>
        <string>{{735,535},{98,12}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{98,12}}</string>
        <key>sourceSize</key>
        <string>{98,12}</string>
      </dict>
      <key>huiguniang-yanmei1.png</key>
      <dict>
        <key>frame</key>
        <string>{{164,523},{102,15}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{102,15}}</string>
        <key>sourceSize</key>
        <string>{102,15}</string>
      </dict>
      <key>huiguniang-zui_2.png</key>
      <dict>
        <key>frame</key>
        <string>{{662,233},{24,13}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{24,13}}</string>
        <key>sourceSize</key>
        <string>{24,13}</string>
      </dict>
      <key>huiguniang-zui_1.png</key>
      <dict>
        <key>frame</key>
        <string>{{662,248},{20,9}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{20,9}}</string>
        <key>sourceSize</key>
        <string>{20,9}</string>
      </dict>
      <key>huiguniang-yan3.png</key>
      <dict>
        <key>frame</key>
        <string>{{887,528},{98,19}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{98,19}}</string>
        <key>sourceSize</key>
        <string>{98,19}</string>
      </dict>
      <key>huiguniang-yan1.png</key>
      <dict>
        <key>frame</key>
        <string>{{769,490},{116,43}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{116,43}}</string>
        <key>sourceSize</key>
        <string>{116,43}</string>
      </dict>
      <key>huiguniang-lian.png</key>
      <dict>
        <key>frame</key>
        <string>{{699,184},{147,147}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{147,147}}</string>
        <key>sourceSize</key>
        <string>{147,147}</string>
      </dict>
      <key>huiguniang-zuoshou.png</key>
      <dict>
        <key>frame</key>
        <string>{{967,213},{53,62}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{53,62}}</string>
        <key>sourceSize</key>
        <string>{53,62}</string>
      </dict>
      <key>huiguniang-youshou.png</key>
      <dict>
        <key>frame</key>
        <string>{{967,277},{40,65}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{40,65}}</string>
        <key>sourceSize</key>
        <string>{40,65}</string>
      </dict>
      <key>huiguniang-shenzi.png</key>
      <dict>
        <key>frame</key>
        <string>{{889,0},{119,135}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{119,135}}</string>
        <key>sourceSize</key>
        <string>{119,135}</string>
      </dict>
      <key>huiguniang-toufa.png</key>
      <dict>
        <key>frame</key>
        <string>{{312,0},{188,251}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{188,251}}</string>
        <key>sourceSize</key>
        <string>{188,251}</string>
      </dict>
      <key>huiguniang-zuojiao.png</key>
      <dict>
        <key>frame</key>
        <string>{{848,184},{29,93}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{29,93}}</string>
        <key>sourceSize</key>
        <string>{29,93}</string>
      </dict>
      <key>wu-laoshu.png</key>
      <dict>
        <key>frame</key>
        <string>{{312,385},{107,98}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{107,98}}</string>
        <key>sourceSize</key>
        <string>{107,98}</string>
      </dict>
      <key>wu-yingwu.png</key>
      <dict>
        <key>frame</key>
        <string>{{670,399},{117,77}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{117,77}}</string>
        <key>sourceSize</key>
        <string>{117,77}</string>
      </dict>
      <key>wu-maque.png</key>
      <dict>
        <key>frame</key>
        <string>{{528,461},{94,85}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{94,85}}</string>
        <key>sourceSize</key>
        <string>{94,85}</string>
      </dict>
      <key>wu-gezifei.png</key>
      <dict>
        <key>frame</key>
        <string>{{312,485},{101,73}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{101,73}}</string>
        <key>sourceSize</key>
        <string>{101,73}</string>
      </dict>
      <key>wu-shuazi.png</key>
      <dict>
        <key>frame</key>
        <string>{{421,461},{105,80}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{105,80}}</string>
        <key>sourceSize</key>
        <string>{105,80}</string>
      </dict>
      <key>wu-shuitong.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,523},{85,72}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{85,72}}</string>
        <key>sourceSize</key>
        <string>{85,72}</string>
      </dict>
      <key>wu-shui.png</key>
      <dict>
        <key>frame</key>
        <string>{{670,333},{170,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{170,64}}</string>
        <key>sourceSize</key>
        <string>{170,64}</string>
      </dict>
      <key>wu-dou.png</key>
      <dict>
        <key>frame</key>
        <string>{{87,523},{75,48}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{75,48}}</string>
        <key>sourceSize</key>
        <string>{75,48}</string>
      </dict>
      <key>wu-kuang.png</key>
      <dict>
        <key>frame</key>
        <string>{{472,319},{196,140}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{196,140}}</string>
        <key>sourceSize</key>
        <string>{196,140}</string>
      </dict>
      <key>wu-zhizhu.png</key>
      <dict>
        <key>frame</key>
        <string>{{889,137},{76,155}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{76,155}}</string>
        <key>sourceSize</key>
        <string>{76,155}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>c123.png</string>
      <key>textureFileName</key>
      <string>c123.png</string>
      <key>size</key>
      <string>{1024,1024}</string>
    </dict>
  </dict>
</plist>