<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>huiguniang-xin.png</key>
      <dict>
        <key>frame</key>
        <string>{{972,201},{46,43}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{46,43}}</string>
        <key>sourceSize</key>
        <string>{46,43}</string>
      </dict>
      <key>huiguniang-tiaowu.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{360,386}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{360,386}}</string>
        <key>sourceSize</key>
        <string>{360,386}</string>
      </dict>
      <key>huiguniang-youshou.png</key>
      <dict>
        <key>frame</key>
        <string>{{904,90},{67,90}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{67,90}}</string>
        <key>sourceSize</key>
        <string>{67,90}</string>
      </dict>
      <key>huiguniang-yanmei.png</key>
      <dict>
        <key>frame</key>
        <string>{{948,300},{38,14}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{38,14}}</string>
        <key>sourceSize</key>
        <string>{38,14}</string>
      </dict>
      <key>huiguniang-yan.png</key>
      <dict>
        <key>frame</key>
        <string>{{698,250},{41,38}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{41,38}}</string>
        <key>sourceSize</key>
        <string>{41,38}</string>
      </dict>
      <key>huiguniang-zui.png</key>
      <dict>
        <key>frame</key>
        <string>{{1012,0},{10,9}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{10,9}}</string>
        <key>sourceSize</key>
        <string>{10,9}</string>
      </dict>
      <key>huiguniang-tou.png</key>
      <dict>
        <key>frame</key>
        <string>{{563,0},{191,187}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{191,187}}</string>
        <key>sourceSize</key>
        <string>{191,187}</string>
      </dict>
      <key>huiguniang-shen.png</key>
      <dict>
        <key>frame</key>
        <string>{{362,184},{180,176}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{180,176}}</string>
        <key>sourceSize</key>
        <string>{180,176}</string>
      </dict>
      <key>huiguniang-zuoshou.png</key>
      <dict>
        <key>frame</key>
        <string>{{904,182},{66,57}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{66,57}}</string>
        <key>sourceSize</key>
        <string>{66,57}</string>
      </dict>
      <key>wangzi-zui_2.png</key>
      <dict>
        <key>frame</key>
        <string>{{898,306},{26,16}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{26,16}}</string>
        <key>sourceSize</key>
        <string>{26,16}</string>
      </dict>
      <key>wangzi-zui_1.png</key>
      <dict>
        <key>frame</key>
        <string>{{988,300},{32,12}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{32,12}}</string>
        <key>sourceSize</key>
        <string>{32,12}</string>
      </dict>
      <key>wangzi-yanmei_2.png</key>
      <dict>
        <key>frame</key>
        <string>{{354,388},{106,18}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{106,18}}</string>
        <key>sourceSize</key>
        <string>{106,18}</string>
      </dict>
      <key>wangzi-yanmei_1.png</key>
      <dict>
        <key>frame</key>
        <string>{{239,388},{113,22}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{113,22}}</string>
        <key>sourceSize</key>
        <string>{113,22}</string>
      </dict>
      <key>wangzi-yan_1.png</key>
      <dict>
        <key>frame</key>
        <string>{{926,316},{94,39}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{94,39}}</string>
        <key>sourceSize</key>
        <string>{94,39}</string>
      </dict>
      <key>wangzi-zuoshou.png</key>
      <dict>
        <key>frame</key>
        <string>{{830,357},{124,91}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{124,91}}</string>
        <key>sourceSize</key>
        <string>{124,91}</string>
      </dict>
      <key>wangzi-tou.png</key>
      <dict>
        <key>frame</key>
        <string>{{362,0},{199,182}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{199,182}}</string>
        <key>sourceSize</key>
        <string>{199,182}</string>
      </dict>
      <key>wangzi-shen_1.png</key>
      <dict>
        <key>frame</key>
        <string>{{544,189},{152,201}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{152,201}}</string>
        <key>sourceSize</key>
        <string>{152,201}</string>
      </dict>
      <key>wangzi-tui.png</key>
      <dict>
        <key>frame</key>
        <string>{{756,0},{146,211}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{146,211}}</string>
        <key>sourceSize</key>
        <string>{146,211}</string>
      </dict>
      <key>wangzi-youshou.png</key>
      <dict>
        <key>frame</key>
        <string>{{698,345},{130,91}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{130,91}}</string>
        <key>sourceSize</key>
        <string>{130,91}</string>
      </dict>
      <key>xiaozhu-gong.png</key>
      <dict>
        <key>frame</key>
        <string>{{362,362},{145,24}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{145,24}}</string>
        <key>sourceSize</key>
        <string>{145,24}</string>
      </dict>
      <key>xiaozhu-qin.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,388},{111,44}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{111,44}}</string>
        <key>sourceSize</key>
        <string>{111,44}</string>
      </dict>
      <key>xiaozhu-tou.png</key>
      <dict>
        <key>frame</key>
        <string>{{756,213},{140,130}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{140,130}}</string>
        <key>sourceSize</key>
        <string>{140,130}</string>
      </dict>
      <key>xiaozhu-shen.png</key>
      <dict>
        <key>frame</key>
        <string>{{904,0},{106,88}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{106,88}}</string>
        <key>sourceSize</key>
        <string>{106,88}</string>
      </dict>
      <key>xiaozhu-zuoshou.png</key>
      <dict>
        <key>frame</key>
        <string>{{698,290},{42,34}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{42,34}}</string>
        <key>sourceSize</key>
        <string>{42,34}</string>
      </dict>
      <key>xiaozhu-youshou.png</key>
      <dict>
        <key>frame</key>
        <string>{{898,275},{48,29}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{48,29}}</string>
        <key>sourceSize</key>
        <string>{48,29}</string>
      </dict>
      <key>xiaozhu-zuojiao.png</key>
      <dict>
        <key>frame</key>
        <string>{{965,246},{30,52}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{30,52}}</string>
        <key>sourceSize</key>
        <string>{30,52}</string>
      </dict>
      <key>xiaozhu-youjiao.png</key>
      <dict>
        <key>frame</key>
        <string>{{973,151},{49,48}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{49,48}}</string>
        <key>sourceSize</key>
        <string>{49,48}</string>
      </dict>
      <key>xiaozhu-wei.png</key>
      <dict>
        <key>frame</key>
        <string>{{898,241},{65,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{65,32}}</string>
        <key>sourceSize</key>
        <string>{65,32}</string>
      </dict>
      <key>xiaozhu-yingzi.png</key>
      <dict>
        <key>frame</key>
        <string>{{113,388},{124,28}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{124,28}}</string>
        <key>sourceSize</key>
        <string>{124,28}</string>
      </dict>
      <key>xiaozhu-yinfu_2.png</key>
      <dict>
        <key>frame</key>
        <string>{{698,189},{56,59}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{56,59}}</string>
        <key>sourceSize</key>
        <string>{56,59}</string>
      </dict>
      <key>xiaozhu-yinfu_1.png</key>
      <dict>
        <key>frame</key>
        <string>{{973,90},{47,59}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{47,59}}</string>
        <key>sourceSize</key>
        <string>{47,59}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>c31.png</string>
      <key>textureFileName</key>
      <string>c31.png</string>
      <key>size</key>
      <string>{1024,512}</string>
    </dict>
  </dict>
</plist>