<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>background.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,2},{76,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,86}}</string>
                <key>sourceSize</key>
                <string>{76,86}</string>
            </dict>
            <key>button_background.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{136,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,112}}</string>
                <key>sourceSize</key>
                <string>{136,112}</string>
            </dict>
            <key>button_left.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,166},{52,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,74}}</string>
                <key>sourceSize</key>
                <string>{52,74}</string>
            </dict>
            <key>button_right.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,90},{52,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,74}}</string>
                <key>sourceSize</key>
                <string>{52,74}</string>
            </dict>
            <key>ch_1_1_small.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{274,164},{134,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,79}}</string>
                <key>sourceSize</key>
                <string>{134,79}</string>
            </dict>
            <key>ch_1_2_small.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{2,197},{134,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,79}}</string>
                <key>sourceSize</key>
                <string>{134,79}</string>
            </dict>
            <key>ch_1_3_small.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{138,164},{134,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,79}}</string>
                <key>sourceSize</key>
                <string>{134,79}</string>
            </dict>
            <key>ch_1_4_small.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{2,116},{134,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,79}}</string>
                <key>sourceSize</key>
                <string>{134,79}</string>
            </dict>
            <key>ch_2_small.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{276,83},{134,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,79}}</string>
                <key>sourceSize</key>
                <string>{134,79}</string>
            </dict>
            <key>ch_3_small.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{140,83},{134,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,79}}</string>
                <key>sourceSize</key>
                <string>{134,79}</string>
            </dict>
            <key>ch_4_small.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{276,2},{134,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,79}}</string>
                <key>sourceSize</key>
                <string>{134,79}</string>
            </dict>
            <key>fad_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,2},{134,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,79}}</string>
                <key>sourceSize</key>
                <string>{134,79}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ChapterSelectTexture.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:925c15a8c32e8936911a49c6604be674:1/1$</string>
            <key>textureFileName</key>
            <string>ChapterSelectTexture.png</string>
        </dict>
    </dict>
</plist>
