<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>tuzi_1-tutou.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{108,101}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{108,101}}</string>
        <key>sourceSize</key>
        <string>{108,101}</string>
      </dict>
      <key>tuzi_1-er_you.png</key>
      <dict>
        <key>frame</key>
        <string>{{183,51},{48,46}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{48,46}}</string>
        <key>sourceSize</key>
        <string>{48,46}</string>
      </dict>
      <key>tuzi_1-er_zuo.png</key>
      <dict>
        <key>frame</key>
        <string>{{110,59},{47,44}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{47,44}}</string>
        <key>sourceSize</key>
        <string>{47,44}</string>
      </dict>
      <key>xinfeng_1-元件 1.png</key>
      <dict>
        <key>frame</key>
        <string>{{183,0},{67,49}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{67,49}}</string>
        <key>sourceSize</key>
        <string>{67,49}</string>
      </dict>
      <key>xinfeng_1-元件 2.png</key>
      <dict>
        <key>frame</key>
        <string>{{197,99},{36,29}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{36,29}}</string>
        <key>sourceSize</key>
        <string>{36,29}</string>
      </dict>
      <key>xinfeng_1-元件 3.png</key>
      <dict>
        <key>frame</key>
        <string>{{159,99},{36,29}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{36,29}}</string>
        <key>sourceSize</key>
        <string>{36,29}</string>
      </dict>
      <key>xinfeng_1-元件 4.png</key>
      <dict>
        <key>frame</key>
        <string>{{110,0},{71,57}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{71,57}}</string>
        <key>sourceSize</key>
        <string>{71,57}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>xinfeng.png</string>
      <key>textureFileName</key>
      <string>xinfeng.png</string>
      <key>size</key>
      <string>{256,256}</string>
    </dict>
  </dict>
</plist>